:root {
  --color-accent: #ff0b56;
  --color-background: #0b1628;
  --color-text-primary: #ffffff;
  --size-minimum-unit: 8px;
  --size-sections-gap: calc(var(--size-minimum-unit) * 7);
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: 'Work Sans', sans-serif;
}

#app {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
  }
  &:focus-visible {
    outline-style: dashed;
    outline-color: var(--color-accent);
    outline-width: 2px;
    outline-offset: 1rem;
  }
}

button {
  &:focus-visible {
    outline-style: dashed;
    outline-color: var(--color-accent);
    outline-width: 2px;
    outline-offset: 0.3rem;
  }
}

h2 {
  font-family: Noto Sans Mono, monospace;
  font-size: 21px;
  line-height: 32px;
  font-weight: 700;
  color: var(--color-accent);
  margin-bottom: 1rem;
}
